@import "bootstrap-sprockets";
@import "bootstrap";

/*.list-group-item {
    float:left;
    position: relative;
    width: 22.5%;
    padding-bottom: 22.5%;
    margin:.15%;
    overflow:hidden;
}*/

//div.visible_0 { display: none; }